.ButtonContainer{
    display: flex;
    justify-content: center;
}

.CreateTodoButton__mainButton{
    position: fixed; /* Fijar la posición del botón */
    bottom: 20px; /* Distancia desde la parte inferior */
    right: 20px; /* Distancia desde la derecha */
    border-radius: 50%;
    height: 80px;
    width: 80px;
    font-size: 50px;
    background-color: #36a5d1; /* Color base del botón */
    color: white;
    font-weight: bold;
    cursor: pointer; 
    border: white solid 1px;
    box-shadow: 0 0 3px white;
    z-index: 1;
    user-select: none;
 
    transition: background-color 0.8s ease, transform .3s ease-in-out;/* Suavizar el cambio */ 
    transform: rotate(0);

}

.CreateTodoButton__mainButton--formVisible{
    background-color: #30343F;
    color: red;
    border: none;
    /* border: red solid 1px; */
    box-shadow: none;
    rotate: 45deg;
}
.ButtonContainer > .CreateTodoButton__mainButton--formVisible:hover{
    background-color: #404553;
    transform: rotate(180deg);
}

.CreateTodoButton__mainButton:hover{
    background-color: rgb(100, 203, 244);
    transform: rotate(270deg);
    
}
