.SkeletonTodoCounterContainer{
    width: 100%;
    height: auto;
    display: flex;
    height: auto;
    justify-content: center;
    margin: 50px 0;
}
.SkeletonTodoCounterContainer__title{
    width: 40%;
    border-radius: 5px;
    height: 30px;

    background: linear-gradient(90deg, rgb(176,176,176) 0%, rgb(189,189,189) 50%, rgb(108, 108, 108) 100%);
    opacity: 35%;
    background-size: 400% 400%;
    animation: shimmer 4s infinite ease;
}

/* Shimmer animation */
@keyframes shimmer {
    0% {
      background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}